body {
  color: white;
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  overflow-x: hidden;
}

a
{
  color: inherit;
  text-decoration: inherit;
}

/*PORTION FOR HEADER*/
body,
.nav-bar::before {
  background-image: url(../assets/home/background-home-desktop.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  margin-top: 50px;
  height: 127px;
  position: relative;
}

.nav-bar {
  position: absolute;
  height: 127px;
  width: 65%;
  right: 0;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.035);
  overflow: hidden;
  margin: 0;
  color: white;
  /*for older browser*/
  color: rgba(255, 255, 255, 0.9);
}

.nav-bar::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: -30px;
  filter: blur(20px);
  z-index: -1
}

.nav-00, .nav-01, .nav-02, .nav-03 {
  position: absolute;
  height: 127px;
  display: flex;
  margin: 0;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.nav-count {
  font-size: 1.22rem;
  margin-right: 10px;
  font-weight: bold;
}

.nav-00 {
  left: 200px;
  height: 121px;
  /*highlight the current page*/
  border-bottom: solid 6px;
  /*for highlight*/
  padding-top: 3px;
  /*solve the off-center issue*/
}

.nav-01 {
  left: 400px;

}

.nav-02 {
  left: 650px;
}

.nav-03 {
  left: 850px;
}

.nav-01:hover, .nav-02:hover, .nav-03:hover {
  height: 121px;
  /*hover the current page*/
  border-bottom: solid 6px;        /*for highlight*/
  padding-top: 3px;                /*solve the off-center issue*/
}

.head-rule {
  position: absolute;
  width: 27%;
  top: 62.5px;
  left: 210px;
  border-style: solid none none none;
  margin: 0;
  border-width: 2px;
  border-color: white;
  /*fallback*/
  border-color: rgba(255, 255, 255, 0.2);
}

.symbol {
  width: 62px;
  position: absolute;
  top: calc(63.5px - 31px);
  left: 75px;
}

/*END OF PORTION FOR HEADER*/

/*Contains the TEXT BODY*/
.text-container
{
  width: 500px;
  position: absolute;
  left: 210px; top: 40vh;
}
.sub-heading
{
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.925rem;
  opacity: 0.7;
  letter-spacing: 5px;
}
.heading
{
  /*text-transform: uppercase;*/
  font-size: 185px;
  font-family: 'Bellefair', serif;
  font-weight: lighter;
  margin: 0;
}
.description
{
  font-family: 'Overpass', sans-serif;
  font-weight: 200;
  line-height: 2;
  font-size: 1.25rem;
  opacity: 0.7;
  text-align: justify;
}
/* END OF TEXT BODY*/

.btnspace
{
  position: relative;
  width: fit-content;
  top: 30vh; left: 70vw;
}

.bigbtn
{
  display: flex;
  /*position: relative;*/
  width: 18.75rem;
  height: 18.75rem;
  color: black;
  background-color: white;
  font-size: 4.4rem;
  text-transform: uppercase;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.bigbtn:hover
{
  /*text-decoration: underline;*/
  width: calc(18.75rem - 20px);
  height: calc(18.75rem - 20px);
  border: solid 10px black;
}

.page-break
{
  position: relative;
  top: 387px;
  border-style: solid;
  border-color: transparent;
}
